:host ::ng-deep {
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background: rgba(63, 81, 181, 0.9);
  }
}

::ng-deep {
  .timepicker {
    direction: ltr;
  }
}
::ng-deep {
  .timepicker__header {
    background-color: rgba(63, 81, 181, 0.9) !important;
  }
}
.mat-form-field {
  display: block !important;
}

:host ::ng-deep {
  .mat-card-content {
    max-height: 350px;
    overflow-y: auto;
  }
}
mat-form-field {
  padding-bottom: 0 !important;
}

.buttons {
  text-align: center !important;
}
