.player{
    display: grid;
    grid-template-columns: 30px 30px 1fr 30px ;
    margin: 7px 0;
    direction: ltr;
    text-align:right;
}

:host ::ng-deep{
     .mat-card{
        max-width: 450px;
     }
}

:host ::ng-deep{
     .mat-card-content{
        max-height: 350px;
        overflow-y: auto;
        padding: 15px;
     }
}

 button.button.mat-raised-button.mat-button-base.mat-primary{
    margin-top:15px!important;
}
