<mat-toolbar color="primary">
  <img src="assets/icons/football-player.svg" height="50" aria-label="add player"/>

  <span class="fill-remaining-space">כניסה למערכת</span> 
</mat-toolbar>

<div class="container" *ngIf="!post; else forminfo" novalidate> 
<mat-card class="signin-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title> כניסה למערכת</mat-card-title>
    <mat-card-subtitle> הכנס אימייל וסיסמא</mat-card-subtitle>
  </mat-card-header>
    <img mat-card-image src="assets/football-login.jpg" width="150" alt="delete player">
  <mat-card-content>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form">
  <div *ngIf="error"> {{error}} </div>
    <mat-form-field class="form-element"> 
  <mat-label>כתובת אימייל</mat-label>
      <input matInput type="email" placeholder="כתובת אימייל" formControlName="email" id="email" >
  </mat-form-field>

    <mat-form-field class="form-element"> 
  <mat-label>סיסמא</mat-label>
    <input matInput type="password" placeholder=" סיסמא" formControlName="password" id="password" >
  </mat-form-field>
    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button cta-button" [disabled]="!userForm.valid">היכנס</button>
      <button mat-raised-button color="primary" [routerLink]="'/signup'" class="btn btn-primary button cta-button">צור חשבון ?</button>
    </div>
  </form>
  </mat-card-content>
</mat-card>

</div>

<ng-template #forminfo>
  <div class="container">
    {{ post | json }}
  </div>
</ng-template>  