.example-spacer {
    flex: 1 1 auto;
  }

   span {
     text-align: right;;
   }

   .welcome{
    margin-right: 20px;
    font-size: .8em;
    color: #1badda;
    font-weight: bold;
    padding-top: 30px;
   }