.game{
    display: grid;
    grid-template-columns: 30px 30px 1fr;
    grid-gap: 10px;;
    direction: ltr;
    text-align:right;
}

:host ::ng-deep{
     .mat-card{
        max-width: 450px;
     }
}
:host ::ng-deep{
     .mat-card-content{
        overflow-y: auto;
     }
}

.gamelink:hover {
   background: #6571ce;
}