<mat-toolbar color="primary">
  <img src="assets/icons/new-game.svg" height="50" aria-label="add player" />

  <span class="fill-remaining-space">צור קבוצות</span>
</mat-toolbar>

<div class="container" *ngIf="!post; else forminfo" novalidate>
  <mat-card class="player-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>צור קבוצות</mat-card-title>
      <mat-card-subtitle>
        לחץ ליצירת קבוצות מאוזנות ולהגרלת סדר משחקים</mat-card-subtitle
      >
    </mat-card-header>
    <img
      mat-card-image
      src="assets/teams-list.jpg"
      class="object-fit"
      alt="create groups"
    />
    <mat-card-content>
      <!--form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">

<div class="form-element">
    <mat-label class="cLabel">תאריך משחק</mat-label>
        21/03/2021 יום ג
</div>
 <div class="form-element">
    <mat-label class="cLabel">שעת משחק</mat-label>
        12:30
</div>
 <div class="form-element">
    <mat-label class="cLabel">מספר שחקנים</mat-label>
        20
</div>

    <mat-form-field class="form-element"> 
    <mat-label>שם שחקן</mat-label>
    <input type="text"
           placeholder="בחר שחקן"
           aria-label="שם שחקן"
           matInput
           formControlName="player"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  
    <div class="form-element buttons">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">הוסף</button>
      <button mat-raised-button color="primary" (click)="navToCreateGroups()"  class="button" >צור קבוצות</button>
    </div>


  </form-->

      <div>
        <button
          mat-raised-button
          color="primary"
          (click)="createGroups()"
          class="btn btn-primary button cta-button"
        >
          צור קבוצות
        </button>
      </div>
      <div class="groups">
        <!--mat-card class="inner-mat-card">קבוצה 1</mat-card-->

        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title> קבוצה 1 </mat-panel-title>
            </mat-expansion-panel-header>
            <p *ngFor="let member of finalTeams.team1">{{ member.name }}</p>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title> קבוצה 2 </mat-panel-title>
            </mat-expansion-panel-header>
            <p *ngFor="let member of finalTeams.team2">{{ member.name }}</p>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title> קבוצה 3 </mat-panel-title>
            </mat-expansion-panel-header>
            <p *ngFor="let member of finalTeams.team3">{{ member.name }}</p>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title> קבוצה 4 </mat-panel-title>
            </mat-expansion-panel-header>
            <p *ngFor="let member of finalTeams.team4">{{ member.name }}</p>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title> קבוצה 5 </mat-panel-title>
            </mat-expansion-panel-header>
            <p *ngFor="let member of finalTeams.team5">{{ member.name }}</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div class="playingOrderContainer">
        <mat-card
          class="inner-mat-card playingOrder"
          *ngIf="displayPlayingOrder"
        >
          <h4>הקבוצות ישחקו לפי הסדר הבא</h4>
          <span> {{ playingf }}#</span>
          נגד
          <span>{{ playings }}#</span>
          <br />
          <b>מזמין ראשון</b>
          <p>{{ orderf ? orderf : "אין " }}#</p>

          <b>מזמין שני</b>
          <p>{{ orders ? orders : "אין " }}#</p>

          <b>מזמין שלישי</b>
          <p>{{ ordert ? ordert : "אין " }}#</p>
        </mat-card>
      </div>
      <div class="form-element btns">
        <button
          mat-raised-button
          color="primary"
          (click)="serPlayingOrder()"
          class="btn btn-primary button cta-button"
        >
          מי משחק ראשון ...
        </button>
        <!--button
          mat-raised-button
          color="primary"
          (click)="openMap()"
          class="btn btn-primary button cta-button"
        
          מפה
        </button-->
        <button
          mat-raised-button
          color="primary"
          (click)="back()"
          class="btn btn-primary button cta-button"
        >
          חזור
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #forminfo>
  <div class="container">
    {{ post | json }}
  </div>
</ng-template>
