:host ::ng-deep{
   .mat-card-image{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: calc(80%) !important; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
   }
  }

  :host ::ng-deep{
     mat-card{
      text-align: center;
     }
  }

  :host ::ng-deep{
     .mat-card{
      max-width: 450px;
     }
}