.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  

  .mat-drawer-container{
      background-color: transparent;
  }
 .mat-drawer-inner-container{
    padding: 30px !important;
  }